<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2017-09-29T14:01:35Z</date>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>SC Marriott</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/hasan/hotelshelf.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-10-04T00:12:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page6-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zihYGbHKijXt
								BJbnpUFLjA==
								</data>
								<key>Size</key>
								<integer>1161</integer>
							</dict>
							<key>files/page6-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9uxXrhgcKk5z
								Fbe/M66FrQ==
								</data>
								<key>Size</key>
								<integer>167358</integer>
							</dict>
							<key>files/page6-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Tu+2oqecWnYM
								TfkvSBU3rA==
								</data>
								<key>Size</key>
								<integer>11195</integer>
							</dict>
							<key>files/page6-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MdWHfitNwy4s
								Wp4fohVgLA==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page6-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+GrgbGrbxzuA
								sBukdh+icQ==
								</data>
								<key>Size</key>
								<integer>44608</integer>
							</dict>
							<key>files/page6-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MfcLyjgKGu+j
								bf4aDxg/hg==
								</data>
								<key>Size</key>
								<integer>6268</integer>
							</dict>
							<key>files/page6-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9E3BZulVi/gg
								NN9S4TEd1w==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page6-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rrryXkE3Ic6e
								L+E8evQd8g==
								</data>
								<key>Size</key>
								<integer>44319</integer>
							</dict>
							<key>files/page6-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B0rdNF4xP/c+
								epPnOZPEgg==
								</data>
								<key>Size</key>
								<integer>5825</integer>
							</dict>
							<key>files/page6-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zE2rZNCMd4xK
								s/3rSZJhdg==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page6-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								c8MB/p/IB+gs
								HVz6EaYxhA==
								</data>
								<key>Size</key>
								<integer>45300</integer>
							</dict>
							<key>files/page6-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dC+7naIfuLKi
								KsegvEwDLQ==
								</data>
								<key>Size</key>
								<integer>5804</integer>
							</dict>
							<key>files/page6-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cpXVgTS2puMi
								lZiqddLcjg==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page6-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8w68AMDHWrvF
								DIMbQAasnA==
								</data>
								<key>Size</key>
								<integer>55506</integer>
							</dict>
							<key>files/page6-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zohLCq1vDtVQ
								el0bnBFcbA==
								</data>
								<key>Size</key>
								<integer>6524</integer>
							</dict>
							<key>files/page6-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								iBHYKpEx/+8+
								lbOUir5aiw==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page6-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AtDSguUAg3Tw
								HDtXGAWzpA==
								</data>
								<key>Size</key>
								<integer>77468</integer>
							</dict>
							<key>files/page6-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								M7l2OnIrSKmA
								xvZecj/a/A==
								</data>
								<key>Size</key>
								<integer>8924</integer>
							</dict>
							<key>files/page6-1006-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								U2vt8sqDKl1M
								4Iwik4cY6Q==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page6-1006-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ECdAVeBu2GsB
								7+odHBLy0A==
								</data>
								<key>Size</key>
								<integer>70248</integer>
							</dict>
							<key>files/page6-1006-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mEj+GChd29V0
								5+KctUSs4Q==
								</data>
								<key>Size</key>
								<integer>5925</integer>
							</dict>
							<key>files/page6-1007-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RWsyktCnmvXO
								3d8GJoeVXQ==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page6-1007-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lRcKUNLKZUI+
								T37MVLHkOw==
								</data>
								<key>Size</key>
								<integer>68638</integer>
							</dict>
							<key>files/page6-1007-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ygqq7kL9eghe
								9itsIJ2qvQ==
								</data>
								<key>Size</key>
								<integer>7678</integer>
							</dict>
							<key>files/page6-1008-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ICkCOzy5k82g
								2cP1obNukw==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page6-1008-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BIvLHVM2wWEt
								C7UFuFHGRQ==
								</data>
								<key>Size</key>
								<integer>66788</integer>
							</dict>
							<key>files/page6-1008-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Wx7i1hISqmjH
								E9lrAkkhWA==
								</data>
								<key>Size</key>
								<integer>7530</integer>
							</dict>
							<key>files/page6-1009-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								l9rAaL82Oeiv
								DZWTVSP/cg==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page6-1009-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								97YVw6xLQf6c
								y8vGhk4gCA==
								</data>
								<key>Size</key>
								<integer>83084</integer>
							</dict>
							<key>files/page6-1009-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5JhXJXjZbQC9
								GnJwDb50/w==
								</data>
								<key>Size</key>
								<integer>9345</integer>
							</dict>
							<key>files/page6-1010-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NhiyFSjgPHVU
								zvzZS8aXEA==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page6-1010-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FZp30Jb+t/VD
								54LtQfjpNQ==
								</data>
								<key>Size</key>
								<integer>58175</integer>
							</dict>
							<key>files/page6-1010-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1MQVoyUguU4n
								h1eeAatfRA==
								</data>
								<key>Size</key>
								<integer>7570</integer>
							</dict>
							<key>files/page6-1011-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MNtIcFOWcWaO
								pIErCn8eEA==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page6-1011-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CzQ6uzicVZ4V
								6dcG8sAQ3Q==
								</data>
								<key>Size</key>
								<integer>55687</integer>
							</dict>
							<key>files/page6-1011-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cU/g2FoFdng2
								LbT+V7mM3A==
								</data>
								<key>Size</key>
								<integer>7729</integer>
							</dict>
							<key>files/page6-1012-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								CTe9iw9uiEJB
								1OPYE8vUjA==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page6-1012-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								63+Y9s3sOu3w
								8c6i4lvIKg==
								</data>
								<key>Size</key>
								<integer>45235</integer>
							</dict>
							<key>files/page6-1012-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9RzDcwOK+boF
								aeSIq21UEw==
								</data>
								<key>Size</key>
								<integer>6272</integer>
							</dict>
							<key>files/page6-1013-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5211w0Jge5jX
								hzqXrwOJQw==
								</data>
								<key>Size</key>
								<integer>1165</integer>
							</dict>
							<key>files/page6-1013-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6duVwkH8YruP
								Orrhhrck4w==
								</data>
								<key>Size</key>
								<integer>40265</integer>
							</dict>
							<key>files/page6-1013-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								41w0ikplzmyv
								QdvXCjJ6jw==
								</data>
								<key>Size</key>
								<integer>5612</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Ue/8rLejeepN
								QBu7qDwPgw==
								</data>
								<key>Size</key>
								<integer>9020</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page6</string>
						<key>SiteRoot</key>
						<string>markdown-2/photos-5</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
