<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2017-09-29T00:45:14Z</date>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Caesar's Palace</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/hasan/hotelshelf.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-10-04T00:12:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page5-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TXMCvslbVIpJ
								PbETAR2elQ==
								</data>
								<key>Size</key>
								<integer>1161</integer>
							</dict>
							<key>files/page5-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Iz44ZPGBGke4
								M/1sG7HUlg==
								</data>
								<key>Size</key>
								<integer>50234</integer>
							</dict>
							<key>files/page5-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dSnscWkO4k8O
								UyaXWqLXjQ==
								</data>
								<key>Size</key>
								<integer>6686</integer>
							</dict>
							<key>files/page5-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NgCRzHxlnFAK
								7xePZfVrrw==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page5-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NIyL/mEYlcDY
								hD2nLhw1Pw==
								</data>
								<key>Size</key>
								<integer>82254</integer>
							</dict>
							<key>files/page5-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iG5iZ4xAzO4E
								hUHV5FE8Yg==
								</data>
								<key>Size</key>
								<integer>7507</integer>
							</dict>
							<key>files/page5-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								B6yQQ7VtZIuz
								WABjH9EgEQ==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page5-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sj7ioz4XOtzC
								6PaSylSqfg==
								</data>
								<key>Size</key>
								<integer>65312</integer>
							</dict>
							<key>files/page5-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m64LdJgKfjwy
								Jjc3JBZrVA==
								</data>
								<key>Size</key>
								<integer>6927</integer>
							</dict>
							<key>files/page5-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HXCwbtQwkbtY
								0EUH2DmJfA==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page5-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0C3HfVZqv1hx
								oWmpSs944A==
								</data>
								<key>Size</key>
								<integer>50424</integer>
							</dict>
							<key>files/page5-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pfPNRbiUjH6H
								0NjFLFQ8uQ==
								</data>
								<key>Size</key>
								<integer>4873</integer>
							</dict>
							<key>files/page5-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YAWLkXV3UuoM
								lTCDKa/WpA==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page5-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/GPRcvIohCXc
								coaaxKyA/w==
								</data>
								<key>Size</key>
								<integer>42245</integer>
							</dict>
							<key>files/page5-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VOsL0iG37k2g
								mzTVKGGKtQ==
								</data>
								<key>Size</key>
								<integer>6965</integer>
							</dict>
							<key>files/page5-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yuVW2UhIbgAC
								sJCrDuB0YA==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page5-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TLM5vMNTHZ5N
								2JfAWUp7KA==
								</data>
								<key>Size</key>
								<integer>52062</integer>
							</dict>
							<key>files/page5-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OFOeSkR7e5X1
								FXvj+Q7XFw==
								</data>
								<key>Size</key>
								<integer>8461</integer>
							</dict>
							<key>files/page5-1006-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IJk5+QulHIHH
								ugL5TC81+w==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page5-1006-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ylDcozcq1DZo
								X0fGTNwhDA==
								</data>
								<key>Size</key>
								<integer>63342</integer>
							</dict>
							<key>files/page5-1006-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ninkj/OXVyID
								6ruoPr8CBA==
								</data>
								<key>Size</key>
								<integer>8049</integer>
							</dict>
							<key>files/page5-1007-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								uBciVxN6u1Ni
								kkbiHx0G8Q==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page5-1007-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xCUmFDhQT2HT
								1Lxo8ocNbA==
								</data>
								<key>Size</key>
								<integer>47285</integer>
							</dict>
							<key>files/page5-1007-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fqnAbdLOFwCU
								6/pgml6fFQ==
								</data>
								<key>Size</key>
								<integer>4349</integer>
							</dict>
							<key>files/page5-1008-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								D+g/RXlfDW57
								js7lb3ZHfg==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page5-1008-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8W8d0BtVsNrP
								XRkQeDR2ag==
								</data>
								<key>Size</key>
								<integer>54926</integer>
							</dict>
							<key>files/page5-1008-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								se/dPH8Chy2G
								6aQ5KViiIw==
								</data>
								<key>Size</key>
								<integer>5838</integer>
							</dict>
							<key>files/page5-1009-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YtVEromy41QF
								GaYNnPeW0g==
								</data>
								<key>Size</key>
								<integer>1209</integer>
							</dict>
							<key>files/page5-1009-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IeOVGEpjvkRv
								yLj+cOKCkw==
								</data>
								<key>Size</key>
								<integer>59597</integer>
							</dict>
							<key>files/page5-1009-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/mQncJCmNA4F
								ZbKrrkfTTw==
								</data>
								<key>Size</key>
								<integer>6492</integer>
							</dict>
							<key>files/page5-1010-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Ft06m2pkl2Xl
								Sgrux3J2+A==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page5-1010-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oLedUBLgSuhv
								ZxAJwAZnvw==
								</data>
								<key>Size</key>
								<integer>55123</integer>
							</dict>
							<key>files/page5-1010-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Cd7vA/hABfIs
								Gc+5Tx8bZQ==
								</data>
								<key>Size</key>
								<integer>8214</integer>
							</dict>
							<key>files/page5-1011-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NQVyxzRweFzl
								bEK/RB/SBw==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page5-1011-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5Ipsqb63Aqef
								9Muuq6PqOw==
								</data>
								<key>Size</key>
								<integer>75053</integer>
							</dict>
							<key>files/page5-1011-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mVjnj5wJnPwI
								B5vy6PWw+g==
								</data>
								<key>Size</key>
								<integer>8983</integer>
							</dict>
							<key>files/page5-1012-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								H7E9CvElTKf5
								uZZ2hNBiWQ==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page5-1012-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hApVcArg0ZxA
								w0KC9DePZg==
								</data>
								<key>Size</key>
								<integer>77595</integer>
							</dict>
							<key>files/page5-1012-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tOoVDYuCuFrz
								yjsctEG71g==
								</data>
								<key>Size</key>
								<integer>8502</integer>
							</dict>
							<key>files/page5-1013-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								hq89FTyoAtXb
								pNHFgkjwSw==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page5-1013-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZcsUp/FyQ66S
								WMRIdrv7YQ==
								</data>
								<key>Size</key>
								<integer>50034</integer>
							</dict>
							<key>files/page5-1013-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4WRz1ftE20LB
								ct8Sl3hwIg==
								</data>
								<key>Size</key>
								<integer>7533</integer>
							</dict>
							<key>files/page5-1014-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								pfOL7/fdX6BY
								WeBfJaHQ9Q==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page5-1014-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Oo1+6IDKBlNd
								TeDBdXElBQ==
								</data>
								<key>Size</key>
								<integer>45697</integer>
							</dict>
							<key>files/page5-1014-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vxd6Gdsq2K62
								kIzlLnr94g==
								</data>
								<key>Size</key>
								<integer>5938</integer>
							</dict>
							<key>files/page5-1015-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NHjoxr8JI4H5
								DmGVauHoWA==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page5-1015-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EXbIi13XYZU7
								coah148WHA==
								</data>
								<key>Size</key>
								<integer>67461</integer>
							</dict>
							<key>files/page5-1015-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OnXAYMPAA/iT
								bNuwTdzW7g==
								</data>
								<key>Size</key>
								<integer>7668</integer>
							</dict>
							<key>files/page5-1016-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								JiUMRZzQhKuh
								9yoF3s/Vew==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page5-1016-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DFU481Yx0kCK
								Qhad0gT2qg==
								</data>
								<key>Size</key>
								<integer>66492</integer>
							</dict>
							<key>files/page5-1016-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Uy2jTDbqLmDX
								/4/91eeLIg==
								</data>
								<key>Size</key>
								<integer>7107</integer>
							</dict>
							<key>files/page5-1017-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DzyG7MaUWABD
								qDJWzY4RSA==
								</data>
								<key>Size</key>
								<integer>1165</integer>
							</dict>
							<key>files/page5-1017-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cnly4XRqUTOc
								89sECHnk7A==
								</data>
								<key>Size</key>
								<integer>52278</integer>
							</dict>
							<key>files/page5-1017-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yMf+A1S7OSWe
								PHCVxAxxJQ==
								</data>
								<key>Size</key>
								<integer>5602</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ywy+rGLVSu9z
								qD3Vg6SwVQ==
								</data>
								<key>Size</key>
								<integer>10128</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>markdown-2/photos-4</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
