<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2017-09-29T14:02:04Z</date>
				<key>ID</key>
				<string>page7</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Residence Inn Vancouver</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/hasan/hotelshelf.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-10-04T00:12:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page7-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dizNzkYE+ARk
								TOr7xKceIg==
								</data>
								<key>Size</key>
								<integer>1191</integer>
							</dict>
							<key>files/page7-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kVCxtC/6OG+w
								X7drknI1xw==
								</data>
								<key>Size</key>
								<integer>40307</integer>
							</dict>
							<key>files/page7-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								p7LSiRbJNs5H
								uzquOWp2UQ==
								</data>
								<key>Size</key>
								<integer>6783</integer>
							</dict>
							<key>files/page7-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qsvKfiRqtajn
								UaXKn1Evnw==
								</data>
								<key>Size</key>
								<integer>1237</integer>
							</dict>
							<key>files/page7-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RfZRQH+gDAR1
								gAGnYicyDA==
								</data>
								<key>Size</key>
								<integer>60840</integer>
							</dict>
							<key>files/page7-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								l700kqEA3fdF
								pn1FK+HiMQ==
								</data>
								<key>Size</key>
								<integer>5320</integer>
							</dict>
							<key>files/page7-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DIPnuwJD70ER
								ShdYGr1jGQ==
								</data>
								<key>Size</key>
								<integer>1237</integer>
							</dict>
							<key>files/page7-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YyIOQM1Em/IQ
								GgcJwf+Ktw==
								</data>
								<key>Size</key>
								<integer>55428</integer>
							</dict>
							<key>files/page7-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZsdThXLbR1tE
								VRfPmVs2pw==
								</data>
								<key>Size</key>
								<integer>6478</integer>
							</dict>
							<key>files/page7-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ciX5aT9X7y9h
								Vg1lbpQeyQ==
								</data>
								<key>Size</key>
								<integer>1237</integer>
							</dict>
							<key>files/page7-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zoxmVioOKOVJ
								ohMK5AVleQ==
								</data>
								<key>Size</key>
								<integer>37335</integer>
							</dict>
							<key>files/page7-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TdFlmSdxHzpc
								aAtw8H0DAA==
								</data>
								<key>Size</key>
								<integer>5454</integer>
							</dict>
							<key>files/page7-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TDe71GwRqWZT
								sl2F87Au9w==
								</data>
								<key>Size</key>
								<integer>1237</integer>
							</dict>
							<key>files/page7-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2pZLh9GhgwIt
								ZnTkZVj7WQ==
								</data>
								<key>Size</key>
								<integer>62400</integer>
							</dict>
							<key>files/page7-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kfo4L7yHT0vN
								huXzaP0gZw==
								</data>
								<key>Size</key>
								<integer>5203</integer>
							</dict>
							<key>files/page7-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								SvIJJGTyHjFb
								t9AWS86RyA==
								</data>
								<key>Size</key>
								<integer>1237</integer>
							</dict>
							<key>files/page7-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gfrAKF3mHW8q
								dFo2b4am4w==
								</data>
								<key>Size</key>
								<integer>100822</integer>
							</dict>
							<key>files/page7-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ueIRVEKmWJCi
								vAwhvxidQg==
								</data>
								<key>Size</key>
								<integer>8664</integer>
							</dict>
							<key>files/page7-1006-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yle1R9ZelQK0
								qgaYho7hbQ==
								</data>
								<key>Size</key>
								<integer>1237</integer>
							</dict>
							<key>files/page7-1006-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7QKKbIWYCAH0
								GNo3eV29UA==
								</data>
								<key>Size</key>
								<integer>48002</integer>
							</dict>
							<key>files/page7-1006-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P14uGpEgJWfi
								p0kuk58Uww==
								</data>
								<key>Size</key>
								<integer>4490</integer>
							</dict>
							<key>files/page7-1007-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mpbUgY+BI4MB
								ldLji9N5rQ==
								</data>
								<key>Size</key>
								<integer>1195</integer>
							</dict>
							<key>files/page7-1007-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0/jL040geYej
								F+dob5U09w==
								</data>
								<key>Size</key>
								<integer>83416</integer>
							</dict>
							<key>files/page7-1007-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dUVRMU9SR6Ph
								Sp4wb0jCQA==
								</data>
								<key>Size</key>
								<integer>9617</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								stJxWKOdDlq0
								r0wx/w6ueA==
								</data>
								<key>Size</key>
								<integer>7228</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page7</string>
						<key>SiteRoot</key>
						<string>markdown-2/photos-6</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
