<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2017-09-29T00:43:18Z</date>
				<key>ID</key>
				<string>page3</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Atlantico Madrid</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/hasan/hotelshelf.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-10-04T00:12:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page3-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tcPNNZpVMXls
								4+vnRW51TA==
								</data>
								<key>Size</key>
								<integer>1167</integer>
							</dict>
							<key>files/page3-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jJHfT7tKI+BT
								HcTULLPp7Q==
								</data>
								<key>Size</key>
								<integer>90384</integer>
							</dict>
							<key>files/page3-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RTMsX6NYV2wE
								cfwOob3Nmg==
								</data>
								<key>Size</key>
								<integer>11414</integer>
							</dict>
							<key>files/page3-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0Q3wlRmNAz2N
								IxLcdWsaYw==
								</data>
								<key>Size</key>
								<integer>1213</integer>
							</dict>
							<key>files/page3-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wRpl4FtgW3Rg
								SnbjxTYU5w==
								</data>
								<key>Size</key>
								<integer>70102</integer>
							</dict>
							<key>files/page3-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TB8ZbNGEYiKy
								ZdCak7AKNA==
								</data>
								<key>Size</key>
								<integer>6784</integer>
							</dict>
							<key>files/page3-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								keBzjRvMIwtY
								jcOQntXDfQ==
								</data>
								<key>Size</key>
								<integer>1213</integer>
							</dict>
							<key>files/page3-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PXlf39IilqR4
								3MnDHpm05g==
								</data>
								<key>Size</key>
								<integer>85422</integer>
							</dict>
							<key>files/page3-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PQkIHVekKUbN
								5gpbpssaGQ==
								</data>
								<key>Size</key>
								<integer>7875</integer>
							</dict>
							<key>files/page3-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3hUw8VM3fvbr
								Ei9rrhwBpA==
								</data>
								<key>Size</key>
								<integer>1213</integer>
							</dict>
							<key>files/page3-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OWGv/f2XA9mY
								5tm0lAxPxA==
								</data>
								<key>Size</key>
								<integer>87816</integer>
							</dict>
							<key>files/page3-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uk1F7cdVIYOp
								6jYUHtgnJw==
								</data>
								<key>Size</key>
								<integer>8935</integer>
							</dict>
							<key>files/page3-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								CmgMO4XI7wHx
								YlUsxu55tw==
								</data>
								<key>Size</key>
								<integer>1213</integer>
							</dict>
							<key>files/page3-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LRav0JjYjaDt
								YzYr9Uv1Ow==
								</data>
								<key>Size</key>
								<integer>78606</integer>
							</dict>
							<key>files/page3-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5zRhffiJl1gA
								ljVZmXrg4Q==
								</data>
								<key>Size</key>
								<integer>8012</integer>
							</dict>
							<key>files/page3-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gaPaVzAJQehL
								Fu18SkiWzw==
								</data>
								<key>Size</key>
								<integer>1213</integer>
							</dict>
							<key>files/page3-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								paz0JMcyUPk5
								0hGly9e7CA==
								</data>
								<key>Size</key>
								<integer>68085</integer>
							</dict>
							<key>files/page3-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Zf63SrK038Qh
								W+/2oVYEMQ==
								</data>
								<key>Size</key>
								<integer>7058</integer>
							</dict>
							<key>files/page3-1006-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								CMK+rLAwJKXb
								Vi72PelEPA==
								</data>
								<key>Size</key>
								<integer>1213</integer>
							</dict>
							<key>files/page3-1006-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PhWeEBYtMnBf
								yHrl8Ca44g==
								</data>
								<key>Size</key>
								<integer>84581</integer>
							</dict>
							<key>files/page3-1006-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								odOZWqFC3zja
								Le0gidXvkw==
								</data>
								<key>Size</key>
								<integer>7784</integer>
							</dict>
							<key>files/page3-1007-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MxHOg1xBEMzu
								gbGzNsQlGg==
								</data>
								<key>Size</key>
								<integer>1213</integer>
							</dict>
							<key>files/page3-1007-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZzJ4IaK0DDfO
								WCS8IEfDPg==
								</data>
								<key>Size</key>
								<integer>76975</integer>
							</dict>
							<key>files/page3-1007-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								O3Sqm+BvyB4p
								9QRcYVyzWA==
								</data>
								<key>Size</key>
								<integer>7598</integer>
							</dict>
							<key>files/page3-1008-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lIDDhHb5uvMS
								mXYwZ4hzyQ==
								</data>
								<key>Size</key>
								<integer>1213</integer>
							</dict>
							<key>files/page3-1008-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DR91T1X7Dr4X
								tLIh1Y3R5A==
								</data>
								<key>Size</key>
								<integer>81248</integer>
							</dict>
							<key>files/page3-1008-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								16fO8Dlpc3SK
								cDMwjjXgYw==
								</data>
								<key>Size</key>
								<integer>7146</integer>
							</dict>
							<key>files/page3-1009-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								GvSNHJj+vVQK
								+O+StzjwZg==
								</data>
								<key>Size</key>
								<integer>1173</integer>
							</dict>
							<key>files/page3-1009-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1WrWP/1Dvz4B
								h6cgwyxW5g==
								</data>
								<key>Size</key>
								<integer>78688</integer>
							</dict>
							<key>files/page3-1009-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rCWRBMdRgU1o
								Nf+49OOTyg==
								</data>
								<key>Size</key>
								<integer>7296</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NYWAoIeTMbTd
								CJ7WxnD4UA==
								</data>
								<key>Size</key>
								<integer>7746</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page3</string>
						<key>SiteRoot</key>
						<string>markdown-2/photos-2</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
