<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2017-09-29T00:41:28Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Hilton Garden Inn Downtown</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/hasan/hotelshelf.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-10-04T00:12:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page2-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Kx5mY/E1r6qe
								1zJgeFZ1QA==
								</data>
								<key>Size</key>
								<integer>1203</integer>
							</dict>
							<key>files/page2-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BXeYlwjNQgT6
								XxwpYT+zNQ==
								</data>
								<key>Size</key>
								<integer>41564</integer>
							</dict>
							<key>files/page2-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vpLMQwniYMl3
								xvghjHMMjQ==
								</data>
								<key>Size</key>
								<integer>5941</integer>
							</dict>
							<key>files/page2-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Sihk7TqE8IKv
								1J88oD7G9w==
								</data>
								<key>Size</key>
								<integer>1207</integer>
							</dict>
							<key>files/page2-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1zhCeNek/FMX
								IUeqzV74SQ==
								</data>
								<key>Size</key>
								<integer>41638</integer>
							</dict>
							<key>files/page2-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q5oWRF0aOdUD
								DM+TO12nAw==
								</data>
								<key>Size</key>
								<integer>6580</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								PhdIv9KuvR4G
								2+Fw7d/RFQ==
								</data>
								<key>Size</key>
								<integer>5358</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>markdown-2/photos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
