<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2017-09-29T13:59:16Z</date>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Hotel Du Louvre</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/hasan/hotelshelf.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-10-04T00:12:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page4-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								XF2Ff5k/DZ8S
								13rzZNo0Fw==
								</data>
								<key>Size</key>
								<integer>1159</integer>
							</dict>
							<key>files/page4-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JABDpXRQ843o
								hXfDOlCb3A==
								</data>
								<key>Size</key>
								<integer>78690</integer>
							</dict>
							<key>files/page4-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JHVueH1PbHId
								gny410w9Nw==
								</data>
								<key>Size</key>
								<integer>7130</integer>
							</dict>
							<key>files/page4-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yb9ckeRyzTFg
								bssjIhC+Ig==
								</data>
								<key>Size</key>
								<integer>1205</integer>
							</dict>
							<key>files/page4-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								N8jF6quZuCjy
								77MaEPq/DA==
								</data>
								<key>Size</key>
								<integer>48470</integer>
							</dict>
							<key>files/page4-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qBi+ue2OY8gi
								ia927vvNlw==
								</data>
								<key>Size</key>
								<integer>6464</integer>
							</dict>
							<key>files/page4-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zE7Qn+xCZdMi
								FOBf0yl8kw==
								</data>
								<key>Size</key>
								<integer>1163</integer>
							</dict>
							<key>files/page4-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PYEzsGvrnFZp
								W75FuWk7tg==
								</data>
								<key>Size</key>
								<integer>50465</integer>
							</dict>
							<key>files/page4-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P0QSZymqTpmU
								RZzWiwTSyQ==
								</data>
								<key>Size</key>
								<integer>7658</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ygnC60MiJV4s
								SZY7fRSKfQ==
								</data>
								<key>Size</key>
								<integer>5589</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>markdown-2/photos-3</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
